<html>
  <head>
    <title><%= title %></title>
    <script src="https://kit.fontawesome.com/f0d2469fcc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <h1 id="page-heading"><i class="fa-solid fa-address-book"></i> My Contact List </h1>
    <ul>
      <% for (let i of contact_list) {%>
      <li>
        <p class="name"><%= i.name %></p>
        <p class="phone"><%= i.phone %></p>
      </li>
      <% } %>
    </ul>
<div class="center">
    <form action="/create_contact" method="POST">
      <input type="text" name="name" placeholder="Enter Name" required />
      <input
        type="number"
        name="phone"
        placeholder="Enter Phone Number"
        required
      />
      <button type="submit">Add Contact</button>
    </form>
</div>
    <script src="/js/home.js"></script>
  </body>
</html>
